@import './antd/index.less';
@import './variable.less';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.ant-layout-header,
.ant-layout-content,
.ant-layout-footer,
.layout-body {
  padding: 0;
  width: 1180px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
.mr-8 {
  margin-right: 8px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-20 {
  margin-right: 20px;
}
<<<<<<< HEAD
.mt-20 {
=======
.mt-20{
>>>>>>> 0e392ebf7ef388bfcc1f87e2f9eb1e31fdbce4b5
  margin-top: 20px;
}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.primary-text {
  color: @text-color;
  font-size: 13px;
  line-height: 32px;
}
.secondary-text {
  color: @secondary-text-color;
}

.text-orange {
  color: @orange;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cursor-poiner {
  cursor: pointer;
}

.spin-wrap {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-bold {
  font-weight: bold;
}
